<header class="header fixed-header">
    <div class="header-left">
        <button type="button" class="hamburger-icon" (click)="toggleSidebar()">
            <!-- Placeholder for hamburger icon -->
            &#9776;
        </button>
        <div class="company-logo">
            <!-- Company Logo -->
            <img src="https://solugenix.talentoz.com/UploadedFiles/Client199/CompanyLogo/2024251709613200598104001816583671.jpg" alt="Company Logo">
        </div>
    </div>

    <div class="header-right">
        <div class="profile-circle">
            <!-- Profile Circle -->
            <img src="../../../../assets/images/profile_logo.png" alt="Profile">
            <span>Arpit Gupta</span>
        </div>
        <div class="dropdown">
            <button class="dropbtn">▼</button>
            <div class="dropdown-content">
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</header>
