<h2 class="mb-3">Registration</h2>
<hr class="title-underline">
<form>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="emailId" class="form-label">Email ID</label>
            <input type="email" class="form-control" id="emailId"  placeholder="Enter email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="employeeId" class="form-label">Employee ID</label>
            <input type="text" class="form-control" id="employeeId" placeholder="Enter employee ID">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary global-btn">Submit</button>
</form>