.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.footer-left {
    margin-left: 20px;
}

.footer-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.footer-right a:hover {
    text-decoration: underline;
}