<h2>Ideas</h2>
<hr class="title-underline">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Employee ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let idea of ideas">
      <td>{{ idea.id }}</td>
      <td>{{ idea.firstName }}</td>
      <td>{{ idea.lastName }}</td>
      <td>{{ idea.email }}</td>
      <td>{{ idea.empId }}</td>
      <td>{{ idea.title }}</td>
    </tr>
  </tbody>
</table>
