
<h2>Ideas</h2>
<hr class="title-underline">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>
        Full Name
        <input type="text" class="form-control" placeholder="Search by Full Name" [(ngModel)]="filterString" (ngModelChange)="applyFilter()" />
      </th>
      <th>
        Employee ID
        <input type="text" class="form-control" placeholder="Search by Employee ID" [(ngModel)]="filterString" (ngModelChange)="applyFilter()" />
      </th>
      <th>
        Title
        <input type="text" class="form-control" placeholder="Search by Title" [(ngModel)]="filterString" (ngModelChange)="applyFilter()" />
      </th>
      <th>
        Status
        <input type="text" class="form-control" placeholder="Search by Status" [(ngModel)]="filterString" (ngModelChange)="applyFilter()" />
      </th>
      <th>Submitted Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let idea of filteredIdeas">
      <td>{{ idea.id }}</td>
      <td>{{ idea.fullName }}</td>
      <td>{{ idea.empId }}</td>
      <td>{{ idea.title }}</td>
      <td>{{ idea.status }}</td>
      <td>{{ idea.submitteddate | date:'yyyy-MM-dd' }}</td>
    </tr>
  </tbody>
</table>
